.contato_container {
    width: 450px;
    margin: 0 auto;
    padding: 1em;
}

.contato_container h1 {
    margin-bottom: 0.5em;
    justify-content: center;
}

.contato_container p {
    color: #7b7b7b
}